<div class="nav">
    <div class="container d-flex justify-content-between fd-md-column">
        <a class="d-flex align-items-center" href="index.html"><img class="logo" src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="menu d-flex align-items-center">
            <li><a href="product.html">系列鏡框</a></li>
            <li><a href="location.html">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
    </div>
</div>