
.footer{
  background-color: #AA0601;
  padding: 60px 0 32px 0;
}
@media (max-width:576px) {
  .footer{
      padding: 24px 14px;
  }
}

.footerMenu{
  gap: 48px;
  margin-bottom: 36px;
  a{
    color:white;
  }
}

@media (max-width:992px) {
  .footerMenu{
      display: none;
  }
}

.footerIcon{
  padding: 6px;
  color: white;
  margin-right: 22px;
}
.footerRight{
  gap: 32px;
  img{
    width: 48px;
  }
}

@media (max-width:576px) {
  .footerRight{
      gap: 8px;
      img{
        width: 24px;
      }
  }
  .footerIcon{
      margin-right: 10px;
  }
}
.footerContent{
  border-bottom: #FFFFFF solid 1px;
}
.footerContactInfo{
  p{
    color: #FFFFFF;
    font-size: 36px;
  }  
}
@media (max-width:720px) {
  .footerContactInfo{
    p{
      font-size: 16px;
    }
  } 
}


.copyright{
  padding: 32px 0;
  p{
    color: #FFFFFF;
  }
}

@media (max-width:576px) {
  .copyright{
      flex-direction: column;
      p{
        margin-bottom: 8px;
      }
  }
  .copyrightCH{
      flex-direction: column;
      gap:0;
      p{
        margin-bottom: 8px;
      }
  }
}