//mixin寫法for pad
@mixin pad{
    @media(max-width:960px){
      @content;
    }
  }
//mixin寫法for mobile
@mixin mobile{
    @media(max-width:576px){
        @content;
    }
}

.location{
    padding-top: 80px;
    padding-bottom: 80px;
    .locationTitle{
        font-size: 48px;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        padding-right: 16px;
        font-weight: bold;
    }
    .locationChoose{
        margin-bottom: 40px;
        display: flex;
        p{
            font-size: 24px;
            margin-right: 28px;
        }
        .locationSelect{
            width: 304px;
        }
    }
    @include mobile{
        .locationChoose{
            p{
                font-size: 16px;
                margin-right: 8px;
            }
            .locationSelect{
                width: 70%;
            }
        }
    }
}




.locationlist{
    li{
        width: calc(33.33% - 24px);
    }
    .storeEach{
        border: 1px solid #00000020;
        .storeName{
            padding: 8px 24px;
            border: 1px solid #00000020;
        }
        .storeInfo{
            padding: 16px 24px;
            p{
                font-size: 20px;
            }
        }
        .StoreDetail{
            font-size: 19px;
            padding-top: 16px;
            padding-bottom: 16px;
            max-width: 100%;
            a{
                color: white;
            }
            a:hover{
                color:gray;
            }
        }
    }
    @include pad{
        justify-content: space-around;
            li{
                width: 45%;
            }
    }
    @include mobile{
        li{
            width: 100%;
        }
    }       
}



