//mixin寫法for pad
@mixin pad{
    @media(max-width:960px){
      @content;
    }
  }
//mixin寫法for mobile
@mixin mobile{
    @media(max-width:576px){
        @content;
    }
}
.productList2{
    gap: 24px;
    li{
        width: calc(33.33% - 36px);
        margin-bottom: 80px;
    }
    @include pad{
        li{
            width: calc(50% - 60px);
            margin-bottom: 40px;
        }
    }
    @include mobile{
        li{
            width: 100%;
            margin-bottom: 24px;
        }
    }
}
