.productList2{
    gap: 24px;
    li{
        width: calc(33.33% - 36px);
        margin-bottom: 80px;
    }
}

@media (max-width:992px) {
    .productList2{
        li{
            width: calc(50% - 60px);
            margin-bottom: 40px;
        }
    }
    
}

@media (max-width:576px) {
    .productList2{
        li{
            width: 100%;
            margin-bottom: 24px;
        }
    }
    
}