<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>location</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <div class="location">
        <div class="container">
            <div class="locationTitle mb-8">門市據點</div>
            <div class="locationChoose">
                <p>選擇地區</p>
    
            </div>
            <ul class="locationlist d-flex f-wrap g-24">
                <li class="storeEach">
                    <img src="../assets/images/store-1.png" alt="store-1">
                    <div class="storeName h4 c-black">台北中山旗艦店</div>
                    <div class="storeInfo">
                        <div class="storeTel d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">call</span>
                            <p>電話：(02)000-1234</p>
                        </div>
                        <div class="storeTime d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">schedule</span>
                            <p>營業時間：10:00-21:00</p>
                        </div>
                        <div class="soteLocate d-flex">
                            <span class="material-symbols-outlined storeIcon d-block mr-2 c-black">pin_drop</span>
                            <p>地址：台北市中山區南京東路25巷2-1號</p>
                        </div>    
                    </div>
                    <div class="StoreDetail bg-black text-align-center" >
                        <a href="#">詳細資料</a>
                    </div>
                </li>
                <li class="storeEach">
                    <img src="../assets/images/store-2.png" alt="store-2">
                    <div class="storeName h4 c-black">台北綠園店</div>
                    <div class="storeInfo">
                        <div class="storeTel d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">call</span>
                            <p>電話：(02)000-2345</p>
                        </div>
                        <div class="storeTime d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">schedule</span>
                            <p>營業時間：10:00-21:00</p>
                        </div>
                        <div class="soteLocate d-flex">
                            <span class="material-symbols-outlined storeIcon d-block mr-2 c-black">pin_drop</span>
                            <p>地址：台北市中正區復興南路 132-1 號</p>
                        </div>
                    </div>
                    <div class="StoreDetail bg-black text-align-center" >
                        <a href="#">詳細資料</a>
                    </div>
                </li>
                <li class="storeEach">
                    <img src="../assets/images/store-3.png" alt="store-3">
                    <div class="storeName h4 c-black">台中清水旗艦店</div>
                    <div class="storeInfo">
                        <div class="storeTel d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">call</span>
                            <p>電話：(02)000-1234</p>
                        </div>
                        <div class="storeTime d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">schedule</span>
                            <p>營業時間：10:00-21:00</p>
                        </div>
                        <div class="soteLocate d-flex">
                            <span class="material-symbols-outlined storeIcon d-block mr-2 c-black">pin_drop</span>
                            <p>地址：台中市清水區經南一路 23 號 8 樓</p>
                        </div>
                    </div>
                    <div class="StoreDetail bg-black text-align-center" >
                        <a href="#">詳細資料</a>
                    </div>
                </li>
                <li class="storeEach">
                    <img src="../assets/images/store-4.png" alt="store-4">
                    <div class="storeName h4 c-black">高雄中正形象店</div>
                    <div class="storeInfo">
                        <div class="storeTel d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">call</span>
                            <p>電話：(07)000-2345</p>
                        </div>
                        <div class="storeTime d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">schedule</span>
                            <p>營業時間：10:00-21:00</p>
                        </div>
                        <div class="soteLocate d-flex">
                            <span class="material-symbols-outlined storeIcon d-block mr-2 c-black">pin_drop</span>
                            <p>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                        </div>
                    </div>
                    <div class="StoreDetail bg-black text-align-center" >
                        <a href="#">詳細資料</a>
                    </div>
                </li>
                <li class="storeEach">
                    <img src="../assets/images/store-5.png" alt="store-5">
                    <div class="storeName h4 c-black">高雄夢時代店</div>
                    <div class="storeInfo">
                        <div class="storeTel d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">call</span>
                            <p>電話：(07)000-1234</p>
                        </div>
                        <div class="storeTime d-flex mb-2">
                            <span class="material-symbols-outlined storeIcon d-block mr-2">schedule</span>
                            <p>營業時間：10:00-21:00</p>
                        </div>
                        <div class="soteLocate d-flex">
                            <span class="material-symbols-outlined storeIcon d-block mr-2 c-black">pin_drop</span>
                            <p>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                        </div>
                    </div>
                    <div class="StoreDetail bg-black text-align-center" >
                        <a href="#">詳細資料</a>
                    </div>
                </li>
                <li>
                    <!-- 配合平板版面，因justify-content-space-between推擠產生的跑版，建立一個空白li -->
                </li>
            </ul>
        </div>
    </div>


    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>