<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>product2</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="type">
        <ul class="typeTitle d-flex ">
            <li class="text-align-center">
                <a href="./product.html">
                    <div class="typeName roboto-black-normal fs-32">OPTICAL</div>
                </a>
            </li>
            <li class="text-align-center">
                <a href="./product2.html">
                    <div class="typeName roboto-black-normal fs-32">SUNGLASSES</div>
                </a>
            </li>
            <li class="text-align-center">
                <a href="#">
                    <div class="typeName roboto-black-normal fs-32">FUNCTIONAL</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="productBanner d-flex">
        <img src="../assets/images/product-header-3.png" alt="product-header-3">
        <img src="../assets/images/product-header-4.png" alt="product-header-4">
    </div>
    <div class="productMenu p-80-0">
        <div class="container d-flex fd-column text-align-center">
            <div class="productSlogan roboto-black-normal fs-42">2020 NEW COLLECTION</div>
            <div class="productSlogan fs-32 mb-8">賽璐珞鈦金屬混合鏡框</div>
            <ul class="productList2 d-flex f-wrap justify-content-center">
                <li>
                    <img src="../assets/images/product-7.png" alt="product-7">
                    <div class="productListNo d-flex justify-content-between">
                        <p class="roboto-black-normal fs-24">BJ41600S</p>
                        <p class="roboto-red-medium fs-24">NTD3,490</p>
                    </div>
                    <div class="productColor d-flex">
                        <div class="colorBox1"></div>
                        <div class="colorBox2"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/product-8.png" alt="product-8">
                    <div class="productListNo d-flex justify-content-between">
                        <p class="roboto-black-normal fs-24">BJ41600S</p>
                        <p class="roboto-red-medium fs-24">NTD3,490</p>
                    </div>
                    <div class="productColor d-flex">
                        <div class="colorBox1"></div>
                        <div class="colorBox2"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/product-9.png" alt="product-9">
                    <div class="productListNo d-flex justify-content-between">
                        <p class="roboto-black-normal fs-24">BJ41600S</p>
                        <p class="roboto-red-medium fs-24">NTD3,490</p>
                    </div>
                    <div class="productColor d-flex">
                        <div class="colorBox1"></div>
                        <div class="colorBox2"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/product-10.png" alt="product-10">
                    <div class="productListNo d-flex justify-content-between">
                        <p class="roboto-black-normal fs-24">BJ41600S</p>
                        <p class="roboto-red-medium fs-24">NTD3,490</p>
                    </div>
                    <div class="productColor d-flex">
                        <div class="colorBox1"></div>
                        <div class="colorBox2"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/product-11.png" alt="product-11">
                    <div class="productListNo d-flex justify-content-between">
                        <p class="roboto-black-normal fs-24">BJ41600S</p>
                        <p class="roboto-red-medium fs-24">NTD3,490</p>
                    </div>
                    <div class="productColor d-flex">
                        <div class="colorBox1"></div>
                        <div class="colorBox2"></div>
                    </div>
                </li>
                <li>
                    <img src="../assets/images/product-12.png" alt="product-12">
                    <div class="productListNo d-flex justify-content-between">
                        <p class="roboto-black-normal fs-24">BJ41600S</p>
                        <p class="roboto-red-medium fs-24">NTD3,490</p>
                    </div>
                    <div class="productColor d-flex">
                        <div class="colorBox1"></div>
                        <div class="colorBox2"></div>
                    </div>
                </li>
            </ul>
            <ul  class="pageButton d-flex text-align-center justify-content-center">
                <li><a href="#">上一頁</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">下一頁</a></li>
            </ul>
            </div>
        </div>
    </div>


    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>